{% extends "header_footer.html" %}
{% load static %}

{% block content %}
    <!-- ====================================== Section Eight ===================================== -->
   <section class="section-eight pt-0">
      <div class="overflow-hidden">
         <svg class="curve-svg" xmlns="http://www.w3.org/2000/svg" width="1920" height="102" viewBox="0 0 1920 102"
            fill="none">
            <path d="M0 101C0 101 423.5 1 960 1C1496.5 1 1920 101 1920 101" stroke="url(#paint0_linear_82_634)"
               stroke-width="2" />
            <defs>
               <linearGradient id="paint0_linear_82_634" x1="0" y1="51" x2="1920" y2="51"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0.1" stop-color="#02000B" />
                  <stop offset="0.495" stop-color="white" />
                  <stop offset="0.9" stop-color="#02000B" />
               </linearGradient>
            </defs>
         </svg>
      </div>
      <div class="container">
         <h2 class="sec-heding">Get A<span> Special Price</span> For You</h2>
         <p class="sub-heding">Congue sed pharetra proin purus quis vehicula sit. In bibendum volutpat dictum
            pulvinar faucibus nulla. Neque sed augue praesent tristique ac gravida commodo.</p>
         <nav class="tabs-btn">
            <a href="javascript:void(0);" data-tab="one" class="monthly active">Monthly</a>
            <a href="javascript:void(0);" data-tab="two" class="yearly">Annually</a>
            <div class="clear"></div>
         </nav>
         <div class="tabContainer">
            <div id="one" class="Tabcondent active">
               <div class="row team-page-row">
                  <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                     <div class="plan-body">
                        <div class="plan-header">
                           <span class="plain-greiesd-bg" id="price1"></span>
                           <h2 class="plan-text">FREE</h2>
                           <h3 class="plan-price">$0 <sub>/Month</sub></h3>
                           <h3 class="basicLevelPro">Basic level performance</h3>
                        </div>
                        <ul>
                           <li>Image Limit: 100 per month</li>
                           <li>Access to Essential Templates</li>
                           <li>Email Support Only</li>
                           <li>Standard Resolution Output</li>
                        </ul>
                        <div class="pricing-btn">
                           <a href="#" class="button"> Try For Free
                              <span class="hoverEffect">
                                 <span></span>
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                     <div class="plan-body">
                        <div class="plan-header">
                           <span class="plain-greiesd-bg" id="price2"></span>
                           <h2 class="plan-text">PREMIUM</h2>
                           <h3 class="plan-price">$29 <sub>/Month</sub></h3>
                           <h3 class="basicLevelPro">Professional level performance</h3>
                        </div>
                        <ul>
                           <li>Unlimited Image Generation</li>
                           <li>Exclusive Templates Library</li>
                           <li>Priority Email and Live Chat Support</li>
                           <li>Ultra High-Resolution Output</li>
                        </ul>
                        <div class="pricing-btn">
                           <a href="#" class="button"> Get Started
                              <span class="hoverEffect">
                                 <span></span>
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                     <div class="plan-body">
                        <div class="plan-header">
                           <span class="plain-greiesd-bg" id="price3"></span>
                           <h2 class="plan-text">ENTERPRICE</h2>
                           <h3 class="plan-price">$49 <sub>/Month</sub></h3>
                           <h3 class="basicLevelPro">Super level performance</h3>
                        </div>
                        <ul>
                           <li>Unlimited Image Generation</li>
                           <li>Tailored Templates and Branding</li>
                           <li>API Access for Integration</li>
                           <li>24/7 Premium Support</li>
                        </ul>
                        <div class="pricing-btn">
                           <a href="#" class="button"> Get Started
                              <span class="hoverEffect">
                                 <span></span>
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="two" class="Tabcondent">
               <div class="row team-page-row">
                  <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                     <div class="plan-body">
                        <div class="plan-header">
                           <span class="plain-greiesd-bg" id="price4"></span>
                           <h2 class="plan-text">Gold</h2>
                           <h3 class="plan-price">$78 <sub>/Annually</sub></h3>
                           <h3 class="basicLevelPro">Basic level performance</h3>
                        </div>
                        <ul>
                           <li>Image Limit: 100 per month</li>
                           <li>Access to Essential Templates</li>
                           <li>Email Support Only</li>
                           <li>Standard Resolution Output</li>
                        </ul>
                        <div class="pricing-btn">
                           <a href="#" class="button"> Get Started
                              <span class="hoverEffect">
                                 <span></span>
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                     <div class="plan-body">
                        <div class="plan-header">
                           <span class="plain-greiesd-bg" id="price5"></span>
                           <h2 class="plan-text">PREMIUM</h2>
                           <h3 class="plan-price">$89 <sub>/Annually</sub></h3>
                           <h3 class="basicLevelPro">Professional level performance</h3>
                        </div>
                        <ul>
                           <li>Unlimited Image Generation</li>
                           <li>Exclusive Templates Library</li>
                           <li>Priority Email and Live Chat Support</li>
                           <li>Ultra High-Resolution Output</li>
                        </ul>
                        <div class="pricing-btn">
                           <a href="#" class="button"> Get Started
                              <span class="hoverEffect">
                                 <span></span>
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                     <div class="plan-body">
                        <div class="plan-header">
                           <span class="plain-greiesd-bg" id="price6"></span>
                           <h2 class="plan-text">ENTERPRICE</h2>
                           <h3 class="plan-price">$169 <sub>/Annually</sub></h3>
                           <h3 class="basicLevelPro">Super level performance</h3>
                        </div>
                        <ul>
                           <li>Unlimited Image Generation</li>
                           <li>Tailored Templates and Branding</li>
                           <li>API Access for Integration</li>
                           <li>24/7 Premium Support</li>
                        </ul>
                        <div class="pricing-btn">
                           <a href="#" class="button"> Get Started
                              <span class="hoverEffect">
                                 <span></span>
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}
    