{% extends "header_footer.html" %}
{% load static %}

{% block content %}
    <!-- ====================================== Section Faq  ===================================== -->
    <section class="faq-pag-sec position-relative pb-0">
        <img class="blue-gardient8sa" src="{% static 'assets/images/home-page/blue-gardient8.png' %}" alt="blue-gardient8">
        <img class="blue-gardient9sa" src="{% static 'assets/images/home-page/blue-gardient9.png'%}" alt="blue-gardient9">
        <div class="container">
            <h1 class="sec-heding"><span> Questions?</span> We have Answers</h1>
            <p class="sub-heding">Nunc facilisis pulvinar sit ut vitae aliquet quisque. Malesuada pellentesque diam
                praesent vitae ullamcorper et a volutpat congue eget massa neque diam sed sit.</p>
            <div class="row faq-page-row">
                <div class="col-xxl-5 col-xl-5 col-lg-5 siup">
                    <h2 class="sec-heding quest">About Ciri AI</h2>
                    <p class="sub-heding ante">Ante morbi commodo erat at tellus faucibus. Accumsan phasellus volutpat
                        iaculis venenatis imperdiet.</p>
                    <img class="faq-img" src="{% static 'assets/images/faq-page/faq-img1.jpg' %}" alt="faq-img1">
                </div>
                <div class="col-xxl-7 col-xl-7 col-lg-7">
                    <div class="accordion faq" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How can I get started with Ciri AI’s services?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Quis nisi vitae quam cursus facilisis. Arcu eget tincidunt augue auctor mattis. Id
                                    pharetra quis pellentesque tristique mattis morbi ut etiam purus. Semper suspendisse
                                    et justo nisl tellus faucibus pharetra. Semper ullamcorper eu sit velit.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Ciri AI provide automated service?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Are there any discounts for annual subscriptions?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How can I get technical support if I encounter issues?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item ">
                            <h2 class="accordion-header asd" id="headingFive">
                                <button class="accordion-button collapsed border-bottom-0 pb-0" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Is there an API for integration with other platforms?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row faq-page-row">
                <div class="col-xxl-5 col-xl-5 col-lg-5 siup">
                    <h2 class="sec-heding quest">Refund Policy</h2>
                    <p class="sub-heding ante">Massa mus morbi massa blandit ridiculus. In nisl quis rhoncus suspendisse
                        consequat ut nibh quam commodo consequat.</p>
                    <img class="faq-img" src="{% static 'assets/images/faq-page/faq-img2.jpg' %}" alt="faq-img2">
                </div>
                <div class="col-xxl-7 col-xl-7 col-lg-7">
                    <div class="accordion faq" id="accordionExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingOne2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                    Congue fermentum in pellentesque magna?
                                </button>
                            </h2>
                            <div id="collapseOne2" class="accordion-collapse collapse show"
                                aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    Quis nisi vitae quam cursus facilisis. Arcu eget tincidunt augue auctor mattis. Id
                                    pharetra quis pellentesque tristique mattis morbi ut etiam purus. Semper suspendisse
                                    et justo nisl tellus faucibus pharetra. Semper ullamcorper eu sit velit.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingTwo2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                    Aliquet at lorem id eget non nulla?
                                </button>
                            </h2>
                            <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingThree2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree2" aria-expanded="false"
                                    aria-controls="collapseThree2">
                                    Ultrices cras ut ipsum platea enim at tincidunt?
                                </button>
                            </h2>
                            <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingFour2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                                    Quis vestibulum aliquet turpis libero sed?
                                </button>
                            </h2>
                            <div id="collapseFour2" class="accordion-collapse collapse" aria-labelledby="headingFour2"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingFive2">
                                <button class="accordion-button collapsed border-bottom-0 pb-0" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive2" aria-expanded="false"
                                    aria-controls="collapseFive2">
                                    Urna mattis amet tortor semper sem tempus erat?
                                </button>
                            </h2>
                            <div id="collapseFive2" class="accordion-collapse collapse" aria-labelledby="headingFive2"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row faq-page-row">
                <div class="col-xxl-5 col-xl-5 col-lg-5 siup">
                    <h2 class="sec-heding quest">Support & More</h2>
                    <p class="sub-heding ante">Magna urna nunc in mauris id nulla. Velit amet bibendum pharetra feugiat
                        feugiat egestas eget ac velit.</p>
                    <img class="faq-img" src="{% static 'assets/images/faq-page/faq-img3.jpg' %}" alt="faq-img3">
                </div>
                <div class="col-xxl-7 col-xl-7 col-lg-7">
                    <div class="accordion faq" id="accordionExample3">
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingOne3">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                                    Mattis laoreet pellentesque pharetra?
                                </button>
                            </h2>
                            <div id="collapseOne3" class="accordion-collapse collapse show"
                                aria-labelledby="headingOne3" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    Quis nisi vitae quam cursus facilisis. Arcu eget tincidunt augue auctor mattis. Id
                                    pharetra quis pellentesque tristique mattis morbi ut etiam purus. Semper suspendisse
                                    et justo nisl tellus faucibus pharetra. Semper ullamcorper eu sit velit.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingTwo3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                                    Neque volutpat ac ultrices netus?
                                </button>
                            </h2>
                            <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3"
                                data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingThree3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree3" aria-expanded="false"
                                    aria-controls="collapseThree3">
                                    Luctus a sed mattis eu mauris. Cursus tellus?
                                </button>
                            </h2>
                            <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3"
                                data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingFour3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour3" aria-expanded="false" aria-controls="collapseFour3">
                                    Eget interdum at sit pretium lectus?
                                </button>
                            </h2>
                            <div id="collapseFour3" class="accordion-collapse collapse" aria-labelledby="headingFour3"
                                data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item ">
                            <h2 class="accordion-header asd" id="headingFive3">
                                <button class="accordion-button collapsed border-bottom-0 pb-0" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive3" aria-expanded="false"
                                    aria-controls="collapseFive3">
                                    In nunc ac et dolor nunc amet tellus varius?
                                </button>
                            </h2>
                            <div id="collapseFive3" class="accordion-collapse collapse" aria-labelledby="headingFive3"
                                data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row faq-page-row">
                <div class="col-xxl-5 col-xl-5 col-lg-5 siup">
                    <h2 class="sec-heding quest">Terms & Policy</h2>
                    <p class="sub-heding ante">Adipiscing arcu platea scelerisque pellentesque cras tristique morbi
                        elementum. Blandit posuere adipiscing donec habitant.</p>
                    <img class="faq-img" src="{% static 'assets/images/faq-page/faq-img4.jpg' %}" alt="faq-img4">
                </div>
                <div class="col-xxl-7 col-xl-7 col-lg-7">
                    <div class="accordion faq" id="accordionExample4">
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingOne4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                    Mattis laoreet pellentesque pharetra?
                                </button>
                            </h2>
                            <div id="collapseOne4" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample4">
                                <div class="accordion-body">
                                    Quis nisi vitae quam cursus facilisis. Arcu eget tincidunt augue auctor mattis. Id
                                    pharetra quis pellentesque tristique mattis morbi ut etiam purus. Semper suspendisse
                                    et justo nisl tellus faucibus pharetra. Semper ullamcorper eu sit velit.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingTwo4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                    Neque volutpat ac ultrices netus?
                                </button>
                            </h2>
                            <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo4"
                                data-bs-parent="#accordionExample4">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingThree4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree4" aria-expanded="false"
                                    aria-controls="collapseThree4">
                                    Luctus a sed mattis eu mauris. Cursus tellus?
                                </button>
                            </h2>
                            <div id="collapseThree4" class="accordion-collapse collapse" aria-labelledby="headingThree4"
                                data-bs-parent="#accordionExample4">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header asd" id="headingFour4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                                    Eget interdum at sit pretium lectus?
                                </button>
                            </h2>
                            <div id="collapseFour4" class="accordion-collapse collapse" aria-labelledby="headingFour4"
                                data-bs-parent="#accordionExample4">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item ">
                            <h2 class="accordion-header asd" id="headingFive4">
                                <button class="accordion-button collapsed border-bottom-0 pb-0" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive4" aria-expanded="false"
                                    aria-controls="collapseFive4">
                                    In nunc ac et dolor nunc amet tellus varius?
                                </button>
                            </h2>
                            <div id="collapseFive4" class="accordion-collapse collapse" aria-labelledby="headingFive4"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Donec massa sapien faucibus et molestie ac. Sed blandit libero volutpat sed cras
                                    ornare arcu. Vulputate mi sit amet mauris. Integer enim neque volutpat ac tincidunt.
                                    Augue neque gravida in fermentum et sollicitudin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====================================== Section Subscribe ===================================== -->
     <section class="section-subscribe position-relative">
      <img class="blurek" src="{% static 'assets/images/home-page/blue-gardient7.png' %}" alt="blue-gardient7">
      <img class="blurek2" src="{% static 'assets/images/home-page/blue-gardient5.png' %}" alt="blue-gardient5">
      <div class="container position-relative">
          <img class="robot" src="{% static 'assets/images/home-page/robot.jpg' %}" alt="robot">
         <video autoplay loop muted class="home-sec-two-video2">
            <source src="{% static 'assets/video/video2.mp4' %}" type="video/mp4">
         </video>
         <div class="cretive-box">
            <h2 class="sec-heding">Ready To Start Creating Stunning <br><span> Images With Ciri AI?</span></h2>
            <p class="sub-heding"> Sign up today and unlock the full potential of our tool. With a range processing
               techniques and features at your fingerprints, you’ll be amazed what you will achieved.</p>
            <div class="community-btn-main mb-0">
               <a href="index.html" class="button"> Get Started Now
                  <span class="hoverEffect">
                     <span></span>
                  </span>
               </a>
            </div>
         </div>
      </div>
   </section>
   <div class="subs-sec" id="subscribe">
      <div class="container">
         <div class="row fassd-row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
               <h2 class="sec-heding quest"><span> Subscribe </span><br> for the Updates!</h2>
               <p class="dui seci">Elementum mauris platea congue sit dictum. Ultrices sed tristique
                  fringilla aenean malesuada.
               </p>
               <div class="sub-scjsd-inp-main">
                  <input type="text" placeholder="Enter Email Address" name="Enter Email Address" autocapitalize="off">
                  <a href="#" class="button subscribeBtn">Subscribe
                     <span class="hoverEffect">
                        <span></span>
                     </span>
                  </a>
               </div>
               <div class="footer-checkbox-sec">
                  <input class="footer-checkbox-input" id="footer-checkbox" type="checkbox">
                  <label for="footer-checkbox" class="footer-chec-txt">I agree to the
                     <a href="#">Privacy Policy.</a>
                  </label>
               </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 faasd">
               <div class="position-relative">
                    <img class="fantasy1" src="{% static 'assets/images/home-page/fantasy1.jpg' %}" alt="fantasy1">
                  <img class="fantasy2" src="{% static 'assets/images/home-page/fantasy2.jpg' %}" alt="fantasy2">
               </div>
            </div>
         </div>
      </div>
   </div>
    <!-- ====================================== Section Blog ===================================== -->
     <section class="section-blog pt-0 position-relative">
      <img class="blog-gardient" src="{% static 'assets/images/home-page/blue-gardient5.png' %}" alt="blue-gardient5">
      <div class="container">
         <h2 class="sec-heding">The Latest <span> News & Blog</span></h2>
         <p class="sub-heding">Congue sed pharetra proin purus quis vehicula sit. In bibendum volutpat dictum
            pulvinar faucibus nulla. Neque sed augue praesent tristique ac gravida commodo.
         </p>
         <div class="row home-blog-row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
               <a href="blogDetails.html" class="blog-box-col">
                  <div class="blog-img-box">
                      <img class="blog-img" src="{% static 'assets/images/blog-page/blog-img1.jpg' %}" alt="blog-img1">
                     <p class="date-blog">Feb 25, 2025</p>
                  </div>
                  <h2 class="eque">Neque duis aliquam pellentesque nam turpis volutpat volutpat.</h2>
                  <p class="ilisis">Quis nisi vitae quam cursus facilisis. Arcu eget tincidunt augue auctor
                     mattis. Id pharetra quis pellentesque tristique mattis morbit velit.</p>
               </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
               <a href="blogDetails.html" class="blog-box-col">
                  <div class="blog-img-box">
                      <img class="blog-img" src="{% static 'assets/images/blog-page/blog-img2.jpg' %}" alt="blog-img2">
                     <p class="date-blog">Feb 20, 2025</p>
                  </div>
                  <h2 class="eque">Cursus iaculis convallis id malesuada libero commodo.</h2>
                  <p class="ilisis">Urna urna ut consequat ut massa aliquet ipsum quam. Urna lectus ut in ac diam
                     cras viverra. Urna urna ut consequat ut massa aliquet</p>
               </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
               <a href="blogDetails.html" class="blog-box-col">
                  <div class="blog-img-box">
                     <img class="blog-img" src="{% static 'assets/images/blog-page/blog-img3.jpg' %}" alt="blog-img3">
                     <p class="date-blog">Feb 15, 2025</p>
                  </div>
                  <h2 class="eque">Sagittis lectus sed aliquam at proin quis aliquam vitae.</h2>
                  <p class="ilisis">Ullamcorper facilisis sit sed sollicitudin faucibus in fermentum neque.
                     Malesuada accumsan Ullamcorper facilisis sit sed sollicitudin faucibus.</p>
               </a>
            </div>
         </div>
      </div>
   </section>
    <!-- ====================================== Section Footer ===================================== -->
   {% endblock %}